// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_image {
    height: 100px;
    width: 150px;
}

.post_table {
    margin-bottom: 10px;
}

.table_td {
    padding-left: 20px;
}